<div style="width: 30%; float: left; "  >
	<div><img src="http://img.wikinut.com/img/gycf69_-6rv_5fol/jpeg/0/Best-Friends-Img-Src%3AImage%3A-FreeDigitalPhotos.net.jpeg" style="width: 100%;" id="img-loader" /></div>
	<textarea id="img_title_1" style="width: 95%;"></textarea>
</div>


<div id="heading" contenteditable="true" style="width: 50%; float: left; min-height: 300px; margin-left: 20px;">
</div>

<div class="clearfix"></div>

<div><input type="button" class="btn btn-primary add_image_text" value="Add content" /></div>