<div style="width: 30%; float: left; margin-right: 20px; ">
	<div><img src="http://img.wikinut.com/img/gycf69_-6rv_5fol/jpeg/0/Best-Friends-Img-Src%3AImage%3A-FreeDigitalPhotos.net.jpeg" style="width: 100%;" id="img-loader1" /></div>
	<textarea id="img_title_1" style="width: 95%;"></textarea>
</div>
<div style="width: 30%; float: left; margin-right: 20px; ">
	<div><img src="http://img.wikinut.com/img/gycf69_-6rv_5fol/jpeg/0/Best-Friends-Img-Src%3AImage%3A-FreeDigitalPhotos.net.jpeg" style="width: 100%;" id="img-loader2" /></div>
	<textarea id="img_title_2" style="width: 95%;"></textarea>
</div>
<div style="width: 30%; float: left; ">
	<div><img src="http://img.wikinut.com/img/gycf69_-6rv_5fol/jpeg/0/Best-Friends-Img-Src%3AImage%3A-FreeDigitalPhotos.net.jpeg" style="width: 100%;" id="img-loader3" /></div>
	<textarea id="img_title_3" style="width: 95%;"></textarea>
</div>

<div class="clearfix"></div>

<div>
	<select id="img-shape">
		<option value="1">Square</option>
		<option value="2">Circle</option>		
	</select>	
</div>

<div style="margin-top: 20px;"><input type="button" class="btn btn-primary add_image" value="Add content" /></div>